<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Design &amp; Code</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <%= login_helper 'btn btn-sm btn-outline-secondar' %>
          </div>
        </div>
      </header>

      <%= render 'shared/blog_nav' %>

      <!-- Blog header -->
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
      <!-- End of header -->
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          
          

          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Blogs
          </h3>
          <p>Write a New Blog</p>
          <%= paginate @blog %>
          
          <%= render @blog %>

          <%= paginate @blog %>

        </div>

        <%= render 'shared/blog_sidebar' %>

      </div>

      <!-- Start of footer -->
        
        <%= render 'shared/blog_footer' %>
        <!-- End of footer -->

        <%= alerts %>

    </main>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= source_helper %>
  </body>
</html>
