<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'my_portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'shared/myportfolio_nav' %>

    <main role="main">

    <%= render 'shared/myportfolio_masthead' unless logged_in?(:site_admin) %>
    
    <%= yield %>

    </main>

    <%= render 'shared/myportfolio_footer' %>

    <%= source_helper %>

  </body>
</html>